@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("https://sbtet.ap.gov.in/APSBTET/assets/img/head.jpg");
}

.nav .img img {
    width: 25vw;
}

.nav .tabs ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* my fav color  */
    color: blueviolet;
    cursor: pointer;
}

.container .sepline {
    background: linear-gradient(to right, #f77213, #f77213 33.3333%, #ffb732 33.3334%, #ffb732 66.6666%, #19a5aa 66.6667%);
    padding: 3px;
    position: fixed;
    z-index: 9999999;
    width: 100%;
}

.main {
    width: 450px;
    margin: 60px auto;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #aaa;
}

label {
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}